{% extends "layout.twig"%} {% block content %}
<div class="container justify-content-end">
  <a href="/logout">
    <button type="button" class="btn btn-secondary btn-sm">logout</button>
  </a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Document</th>
      <th scope="col">Country</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.ID }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.document }}</td>
      <td>{{ user.country }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
